[submodule "src/libs/eigen"]
	path = src/libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/libs/benchmark"]
	path = src/libs/benchmark
	url = https://github.com/google/benchmark/